

<body>
  <ul id="navbar-list">
    <a href="/home"><li>Home</li></a>
    <a href="/api/allContact"><li>View Contact</li></a>
    <a href="/api/addContact"><li>Add Contact</li></a>
  </ul>
   
</body>
