<body class="body-homepage">
  <div class="homepage">
    <span id="x"> Welcome to <span id="app-name">Contactify </span>Application !</span>
    <p>

      Effortlessly save, manage, and access all your contacts in one secure
      place. Get started by adding your first contact or exploring our features
      to keep your connections organized and at your fingertips! Let’s build
      your network, one contact at a time!
    </p>
  </div>
</body>