<body>
  <div class="add-contact-form">
    <h1>Add a Contact</h1>
  <section class="c1">
    
 <form action="/api/addContact" method="post">
  <div class="con-group">
    <label for="fname">First Name:</label>
    <input type="text" name="fname" id="fname" placeholder="enter your first name">
  </div>
  <div class="con-group">
     <label for="lname">Last Name:</label>
    <input type="text" name="lname" id="lname" placeholder="enter your last name">
  </div>
  <div class="con-group">
     <label for="nmbr">Mobile Number:</label>
    <input type="number" name="nmbr" id="nmbr" placeholder="enter your Number">
  </div>
  <div class="con-group">
    <label for="loc">Location:</label>
    <select name="loc" id="loc">
      <option value="mobile">Mobile</option>
      <option value="sim">SIm</option>
      <option value="email">Email</option>
    </select>
  </div>
  <div class="con-group">
    <button id="btn" type="submit">Create Contact</button>
  </div>
 </form>

</section>
  </div>
</body>